# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform.lock.hcl
infra/terraform.tfvars

# Docker
**/__pycache__/
**/*.pyc

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/